* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#wrap {
  width: 80%;
  box-sizing: border-box;
  position: relative;
}

.left {
  width: 55%;
  margin: 0 25%;
  box-sizing: border-box;
  padding: 30px;
}
.left img {
  box-sizing: border-box;
  width: 100%;
}
.right {
  position: fixed;
  top: 100px;
  right: 17%;
  width: 18%; /*기본 20%*/
  box-sizing: border-box;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 10px;
}
.title {
  box-sizing: border-box;
  margin: 20px 0;
}

li {
  box-sizing: border-box;
  padding: 3px;
}
li.price {
  box-sizing: border-box;
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
}
p {
  box-sizing: border-box;
  margin: 20px 0;
}

.btnOpt {
  box-sizing: border-box;
  float: right;
  overflow: hidden;
  width: 170px; /*기본값 55px*/
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  line-height: 50px;
  font-size: 25px;
}

.btnOpt .option {
  width: 70px;
  height: 50px;
  box-sizing: border-box;
  font-size: 32px;
  background: #fff;
  border: 0;
  cursor: pointer;
}
h3 {
  width: 100%;
  box-sizing: border-box;
  margin: 30px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.btnl {
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
  float: left;
}

.btnr {
  border-left: 1px solid #e6e6e6;
  box-sizing: border-box;
  float: right;
}

/* .buy {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background: #707070;
  border-radius: 10px;
  color: #fff;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
  cursor : pointer;  
} */

/* .buy:hover {
  background: black;
} */
.btn {
  width: 48%;
  margin: 20px 0;
  padding: 10px;
  background: #707070;
  box-sizing: border-box;
  border-radius: 10px;
  color: #fff;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background: black;
  box-sizing: border-box;
  border: 1px solide transparent;
}
.btn.up {
  box-sizing: border-box;
  margin-right: 10px;
}

.sum {
  font-size: 25px;
  box-sizing: border-box;
  font-weight: bold;
}

/*슬라이드 CSS*/
.section input[id*="slide"] {
  box-sizing: border-box;
  display: none;
}
.section .slidewrap {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  height: 600px;
}
.section .slidelist {
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 0;
}
.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.5s;
}
.section .slidelist > li > span {
  box-sizing: border-box;
  display: block;
  position: relative;
}
.section .slidelist > li > span img {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
}
.section .slidelist label {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-40%);
  transform: translateX(-60%);
  padding: 15px;
  cursor: pointer;
}
.section .slidelist .left {
  box-sizing: border-box;
  left: 0px;
  background: url("https://via.placeholder.com/400") center center / 10%
    no-repeat;
}
.section .slidelist .right {
  box-sizing: border-box;
  right: 0px;
  background: url("https://via.placeholder.com/400") center center / 30%
    no-repeat;
}
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
  box-sizing: border-box;
  transform: translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
  box-sizing: border-box;
  transform: translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
  box-sizing: border-box;
  transform: translateX(-200%);
}
