@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.Cardbox {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 80vw;
}
.after {
  position: relative;
  font-size: 18px;
  padding-left: 15px;
}

.after span {
  font-size: 20px;
  font-weight: bold;
}
.after::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 45px;
  background: #707070;
}
.Cardblock {
  width: 250px;
  height: 400px;
  padding: 1rem;
  border-radius: 22px;

  display: block;
  float: left;
}
.Cardblock:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
.Cardblock:hover .Productimage {
  transform: scale(1.05);
  transition: all 0.3s;
}

.Imagebox {
  height: 250px;
  width: 250px;
  border-radius: 22px;
  margin: 0;
  overflow: hidden;
}
.Productimage {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.Pname {
  display: block;
  margin: 1rem 0.1rem 0.5rem 0.1rem;
  height: 23.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "NanumSquareNeo-Variable";
  font-size: 1rem;
  font-weight: 700;
  color: #2f2f2f;
  text-decoration: none;
}
.Pintro {
  display: block;
  margin: 0.5rem 0.1rem;
  height: 64px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Noto Sans KR";
  font-size: 15px;
  color: #2f2f2f;
  text-decoration: none;
}
.Pprice {
  display: block;
  margin: 1.1rem 0.1rem 0 0.1rem;
  font-family: "NanumSquareNeo-Variable";
  font-size: 1rem;
  font-weight: 600;
  color: #2f2f2f;
  text-decoration: none;
}

.Morebutton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 40px 36vw 20px 36vw;
  padding: 0.5rem 1.5rem;
  width: 95px;
  font-family: "Noto Sans KR";
  font-size: 1rem;
  font-weight: 400;
  color: #2f2f2f;
  text-align: center;
  text-decoration: none;

  background-color: white;
  border: 1px solid #bababa;
  border-radius: 20px;
}

.Morebutton:hover {
  cursor: pointer;
  background-color: #bababa;
  color: white;
  transition: all 0.3s;
}

hr {
  width: 80vw;
  border-top: 1px solid #e6e6e6;
}
